<footer class="site-footer">
    <div class="fondo-transparente">
        <div class="contenido-footer contenedor">
            <div class="barra">
                <h1>Artesanía Huichol</h1>
            </div>
        </div>
    </div>
</footer>

<!--Archivos JS-->
<script src="../JS/main.js"></script>
<script src="../JS/reloj.js"></script>
</body>
</html>